<div ng-controller="jobDetailsCtrl">
<div style ="padding-left: 150px;">
<h3>Posting Details</h3>

	<table>
				<tr>
                   <th>Job Title</th>
                   <td>{{myPosting.title}} </td>
               </tr>
               <tr>
                   <th>Job Description</th>
                   <td>{{myPosting.description}}</td>
               </tr>
               <tr>
                   <th>Job Category</th>
                   <td>{{myPosting.category}}</td>
               </tr>
               <tr>
                   <th>Job Location</th>
                   <td>{{myPosting.location}}</td>
               </tr>
               <tr>
                   <th>Time and Duration</th>
                   <td>
                       Date: {{myPosting.date}} for {{myPosting.duration}} {{myPosting.timeUnit}}
                   </td>
               </tr>
               <tr>
                   <th>Compensation</th>
                   <td>
                       <div ng-show="myPosting.price=='set'"> ${{myPosting.lowerBound}}</div>
                       <div ng-show="myPosting.price=='range'">From ${{myPosting.lowerBound}} to ${{myPosting.upperBound}}</div>
                   </td>
               </tr>

           </table>
		<p><button ng-click="editPostingDetails()"> Edit </button>&nbsp<button ng-click="deletePosting(myPosting)">Delete</button><!--  &nbsp<button ng-click="getApplicants()" ng-disabled="hasApplicants">View Applicants</button>--></p>
		<p><a href="#" ng-click="myPostedJobs()"> My Postings </a> myPosting.jobSelectStatus {{myPosting.jobSelectStatus}}</p>

		<div ng-show="showApplicants">  
		<br>
		<h4>Applicants</h4>
				<table>
				    <tr ng-repeat="applicant in applicants" ng-show="applicant.status=='Chosen'||applicant.status=='Submitted'">
				
				        <td><a href="#" ng-click="open(applicant)">{{applicant.applicantInfo.displayName}}</a> </td>
				        <td>    Rating: {{applicant.applicantInfo.employee_rating}} </td>
				        <td><div ng-show="applicant.status==myPosting.jobSelectStatus">Contract Pending</div> </td>

							</td>
						</tr>
					</table>
						</div>
						
 <script type="text/ng-template" id="viewApplicantProfile.html">

        <div class="modal-header">
            <h3 class="modal-title">Applicant Profile</h3>
        </div>
        <div class="modal-body">
				<div ng-include='"partials/userinfo/viewProviderProfile.html"'></div>
             
        </div>
        <div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="chooseApplicant(applicant)" ng-enabled="applicant.status!=myPosting.jobSelectStatus">Choose</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

        </div>
    </script>
</div>
</div>

