<div>

<label style="font-weight: bold; font-size: 1.5em">Active Commitments as an Employee</label>
<table>
    <tr ng-repeat="employeeContract in employeeContracts">
        <td>
            <a href="#" ng-click="showEmployeeContractDetails = ! showEmployeeContractDetails">{{employeeContract.jobsAppliedInfo.title}}  {{employeeContract.jobsAppliedInfo.appInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showEmployeeContractDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{employeeContract.jobsAppliedInfo.appInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{employeeContract.jobsAppliedInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{employeeContract.jobsAppliedInfo.location}}</td>
                    </tr>
                    
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{employeeContract.jobsAppliedInfo.date}} for {{employeeContract.jobsAppliedInfo.duration}} {{employeeContract.jobsAppliedInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                            <div ng-show="employeeContract.jobsAppliedInfo.price=='set'"> ${{employeeContract.jobsAppliedInfo.lowerBound}}</div>
                            <div ng-show="employeeContract.jobsAppliedInfo.price=='range'">From ${{employeeContract.jobsAppliedInfo.lowerBound}} to ${{employeeContract.jobsAppliedInfo.upperBound}}</div>
                        </td>
                    </tr>
                </table>
  <!--             <p><button ng-click="acceptJobOffer(offer.jobsAppliedInfo.appInfo)">Accept</button>&nbsp&nbsp<button ng-click="declineJobOffer(offer.jobsAppliedInfo.appInfo)">Decline</button></p>
   -->  
            </div>
        </td>
    </tr>
</table>


<br>

<label style="font-weight: bold; font-size: 1.5em">Active Commitments as an Employer</label>
<table>
    <tr ng-repeat="employerContract in employerContracts">
        <td>
            <a href="#" ng-click="showEmployerContractDetails = ! showEmployerContractDetails">{{employerContract.jobsAppliedInfo.title}}  {{employerContract.jobsAppliedInfo.appInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showEmployerContractDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{employerContract.jobsAppliedInfo.appInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{employerContract.jobsAppliedInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{employerContract.jobsAppliedInfo.location}}</td>
                    </tr>
                    
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{employerContract.jobsAppliedInfo.date}} for {{employerContract.jobsAppliedInfo.duration}} {{employerContract.jobsAppliedInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                            <div ng-show="employerContract.jobsAppliedInfo.price=='set'"> ${{employerContract.jobsAppliedInfo.lowerBound}}</div>
                            <div ng-show="employerContract.jobsAppliedInfo.price=='range'">From ${{employerContract.jobsAppliedInfo.lowerBound}} to ${{employerContract.jobsAppliedInfo.upperBound}}</div>
                        </td>
                    </tr>
                </table>
  <!--             <p><button ng-click="acceptJobOffer(offer.jobsAppliedInfo.appInfo)">Accept</button>&nbsp&nbsp<button ng-click="declineJobOffer(offer.jobsAppliedInfo.appInfo)">Decline</button></p>
   -->  
            </div>
        </td>
    </tr>
</table>


<label style="font-weight: bold; font-size: 1.5em">Past Contracts as an Employee</label>
<table>
    <tr ng-repeat="pastEmployeeContract in pastEmployeeContracts">
        <td>
            <a href="#" ng-click="showPastEmployeeContractDetails = ! showPastEmployeeContractDetails">{{pastEmployeeContract.jobsAppliedInfo.title}}  {{pastEmployeeContract.jobsAppliedInfo.appInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showPastEmployeeContractDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{pastEmployeeContract.jobsAppliedInfo.appInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{pastEmployeeContract.jobsAppliedInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{pastEmployeeContract.jobsAppliedInfo.location}}</td>
                    </tr>
                    
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{pastEmployeeContract.jobsAppliedInfo.date}} for {{pastEmployeeContract.jobsAppliedInfo.duration}} {{pastEmployeeContract.jobsAppliedInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                            <div ng-show="pastEmployeeContract.jobsAppliedInfo.price=='set'"> ${{pastEmployeeContract.jobsAppliedInfo.lowerBound}}</div>
                            <div ng-show="pastEmployeeContract.jobsAppliedInfo.price=='range'">From ${{pastEmployeeContract.jobsAppliedInfo.lowerBound}} to ${{pastEmployeeContract.jobsAppliedInfo.upperBound}}</div>
                        </td>
                    </tr>
                </table>
             <p><button >Rate Employer</button>&nbsp&nbsp<button >I Quit</button></p>
  
            </div>
        </td>
    </tr>
</table>


<br>

<label style="font-weight: bold; font-size: 1.5em">Past Contracts as an Employer</label>
<table>
    <tr ng-repeat="pastEmployerContract in pastEmployerContracts">
        <td>
            <a href="#" ng-click="showPastEmployerContractDetails = ! showPastEmployerContractDetails">{{pastEmployerContract.jobsAppliedInfo.title}}  {{pastEmployerContract.jobsAppliedInfo.appInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showPastEmployerContractDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{pastEmployerContract.jobsAppliedInfo.appInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{pastEmployerContract.jobsAppliedInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{pastEmployerContract.jobsAppliedInfo.location}}</td>
                    </tr>
                    
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{pastEmployerContract.jobsAppliedInfo.date}} for {{pastEmployerContract.jobsAppliedInfo.duration}} {{pastEmployerContract.jobsAppliedInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                            <div ng-show="pastEmployerContract.jobsAppliedInfo.price=='set'"> ${{pastEmployerContract.jobsAppliedInfo.lowerBound}}</div>
                            <div ng-show="pastEmployerContract.jobsAppliedInfo.price=='range'">From ${{pastEmployerContract.jobsAppliedInfo.lowerBound}} to ${{pastEmployerContract.jobsAppliedInfo.upperBound}}</div>
                        </td>
                    </tr>
                </table>
              <p><button >Rate Employee</button>&nbsp&nbsp<button >You're Fired</button></p>
 
            </div>
        </td>
    </tr>
</table>



</div>
