<div ng-controller="postNewJobCtrl">
    <div style ="padding-left: 150px;">
<h2>Post new job</h2>
<div ng-show="showEditNewJob">
<!-- <form name="postNewJobForm"> -->
<table style="width: 50%">
	<tr style="height:50px;">
		<th>Job Title</th>
		<td><input type="text" ng-model="newjob.title" ng-change="changeNewJobTitle()" required/></td>
		<td><div ng-show="newJobTitleError" style="color: red">{{newJobTitleErrorMsg}}</div></td>
	</tr>
	<tr style="height:50px;">
		<th>Job Category</th>
		<td>
			<select style="width:167px;" ng-init="newjob.oldCat = jobCategories[0]" ng-model="newjob.oldCat" ng-options="jobCategorie for jobCategorie in jobCategories" ></select>
			<input type = "text" ng-show ="newjob.oldCat == 'Other'" ng-model = "newjob.newCat"/>
		</td>
		<td><div ng-show="newJobCategoryError" style="color: red">{{newJobCategoryErrorMsg}}</div></td>
	</tr>
	<tr style="height:50px;">
		<th>Job Description</th>
		<td><input type="text" ng-model="newjob.description" ng-change="changeNewJobDescription()" required/></td>
		<td><div ng-show="newJobDescriptionError" style="color: red">{{newJobDescriptionErrorMsg}}</div></td>
	</tr>
	<tr style="height:50px;">
		<th>Job Location</th>
		<td><input type="text" ng-model="newjob.location" ng-change="changeNewJobLocation()" required/></td>
		<td><div ng-show="newJobLocationError" style="color: red">{{newJobLocationErrorMsg}}</div></td>
	</tr>
	<tr style="height:75px;">
		<th>Time and Duration</th>
		<td>
			<label>Date: &nbsp</label><input type="date" ng-model="date" placeholder="yyyy-MM-dd" required/><br>
			<label>for &nbsp</label><input type="number" ng-init="newjob.duration=0" ng-model="newjob.duration" required/>
			<select ng-init="newjob.timeUnit = timeUnitOptions[0]" ng-model="newjob.timeUnit" ng-options="timeUnitOption for timeUnitOption in timeUnitOptions"></select>
		</td>
		<td><div ng-show="newJobDateTimeError" style="color: red">{{newJobDateTimeErrorMsg}}</div></td>
	</tr>
	<tr style="height:75px;">
		<th>Price Information</th>
		<td>
			<label>Price mode:&nbsp</label><select ng-init="newjob.price = paymentOptions[0]" ng-model="newjob.price" ng-options="paymentOption.option for paymentOption in paymentOptions" ng-change="changePriceMode()"></select>
			<div ng-show="showRange">
				<label>Between: $</label>
				<input type="number" min="0" ng-init="newjob.lowerbound=0" ng-model="newjob.lowerbound" ng-change="changePriceInput()" />
				<label>&nbsp and $</label>
				<input type="number" min="0" ng-init="newjob.upperbound =0" ng-model="newjob.upperbound" ng-change="changePriceInput()"/>
			</div>
			<div ng-show="showSet">
				<label>$</label><input type="number" ng-init="newjob.setPrice =0" ng-model="newjob.setPrice" ng-change="changePriceInput()"/>
			</div>
		</td>
		<td><div ng-show="newJobPriceError" style="color: red">{{newJobPriceErrorMsg}}</div></td>
	</tr>

</table>
<!--buttons-->    
<div id="previewbutton" style="padding-left: 10px;float:left;">  
	<button ng-click="postNewJobPreview()" class="btn btn-primary btn-sm">Preview</button>
</div>

<div id="resetbutton" style="padding-left: 10px;float:left;"> 
    <button class="btn btn-primary btn-sm" ng-click="resetNewJobForm()">Reset</button>
</div>
<!-- </form> -->
</div>

<div ng-show="showPreviewNewJob">
<table>
	<tr>
		<th>Job Title</th>
		<td>{{newjob.title}}</td>
	</tr>
	<tr>
		<th>Job Category</th>
		<td>{{newjob.category}}</td>
	</tr>
	<tr>
		<th>Job Description</th>
		<td>{{newjob.description}}</td>
	</tr>
	<tr>
		<th>Job Location</th>
		<td>{{newjob.location}}</td>
	</tr>
	<tr>
		<th style=>Time and Duration</th>
		<td style=>
			{{newjob.formattedDate}} for {{newjob.duration}} {{newjob.timeUnit}}
		</td>
	</tr>
	<tr>
		<th>Compensation</th>
		<td>
			<div ng-show="newjob.price.value=='set'"> ${{newjob.setPrice}}</div>
            <div ng-show="newjob.price.value=='range'">From ${{newjob.lowerbound}} to ${{newjob.upperbound}}</div>
		</td>
	</tr>

    
</table>
    
<div id="editbutton" style="padding-left: 10px;">    
<button class="btn btn-primary btn-sm" ng-click="postNewJobEdit()" >Edit</button>
</div>
</div>
<br><br>
<div id="postbutton" style="padding-left: 10px;">
<button class="btn btn-primary btn-sm" ng-click="postNewJob()">Post</button>&nbsp&nbsp&nbsp<button class="btn btn-primary btn-sm" ng-click="dashboard()">Cancel</button>
</div>
    </div>
</div>
