<div ng-controller="searchForJobCtrl">
	<h2>Search for Jobs</h2>
	<br>
	<br>
	Categories: 
	<!-- <select ng-model="SELECTION_CATEGORY" ng-options="categoryOption for categoryOption in SELECTION_CATEGORY"></select> -->
	<button ng-click="showJobs()">Show Jobs</button>
	<!-- <button ng-click="test()"> test</button> -->

	<br><br>
	<!-- <div id="results"></div> -->

	<script>
	// console.log("From html: " + $scope.jobList);
	</script>

	<table>
		<div>
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Location</th>
					<th>Date and Duration</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="job in jobFullList track by $index">
					<td>{{job[$index]}}</td>
					<!-- <td>{{job[$index].description}}</td>
					<td>{{job[$index].location}}</td>
					<td> -->
						<!-- show only if it is duration rather than date -->
						<!-- Date: {{job[$index].date}} for {{job[$index].duration}} {{job[$index].timeUnit}}
					</td>
					<td>
						<div ng-show="posting.price=='set'"> ${{job[$index].lowerBound}}</div>
						<div ng-show="posting.price=='range'">From ${{job[$index].lowerBound}} to ${{job[$index].upperBound}}</div>
					</td> -->
					<!-- <button ng-click="acceptJob()">Accept</button> -->
				</tr>
			</tbody>
		</div>
	</table>
</div>