<div ng-controller="searchForJobCtr">
<div style ="padding-left: 150px;">
<div ng-show="showSearchView">
<h2> Search for Jobs by Categories</h2>
<br>
<div> 
<select ng-model="jobCats" ng-options="jobCategorie for jobCategorie in jobCategories"></select>
    <button  class="btn btn-primary btn-sm" ng-click="changeNuggetJobs()">Search</button>
</div>
<table>
    <tr ng-repeat="job in jobs">

        <td><a href="#" ng-click="showJobDetails = ! showJobDetails">{{job.title}}  {{job.date}}</a>
            <div class="col-sm-offset-1" ng-show="showJobDetails">
		  		<table>
                    <tr>
                        <th>Job Description</th>
                        <td>{{job.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Category</th>
                        <td>{{job.category}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{job.location}}</td>
                    </tr>
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{job.date}} for {{job.duration}} {{job.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                            <div ng-show="job.price=='set'"> ${{job.lowerBound}}</div>
                            <div ng-show="job.price=='range'">From ${{job.lowerBound}} to ${{job.upperBound}}</div>
                        </td>
                    </tr>

                </table>
		  			<p style="padding-top: 5px;"><button ng-click="chooseJob(job)" class="btn btn-primary btn-sm"> Apply </button></p>
		  		</div>
		  	</td>
</table>

</div>

<div ng-show=" ! showSearchView" ng-include="'partials/job/applyToJob.html'"></div>
    </div>
</div>

