<div ng-controller="searchForJobCtrl">
	<h2>Search for Jobs</h2>
	<br>
	<br>
	Categories: 
	<select ng-model="searchCategory" ng-options="nuggetJobs for nuggetJobs in mySearchForJobCats" ng-change="changeNuggetJobs()"></select>
	<button ng-click="showJobs()">Show Jobs</button>
	<!-- <button ng-click="test()"> test</button> -->

	<br><br>
	<!-- <div id="results"></div> -->

	<script>
	// console.log("From html: " + $scope.jobList);
	</script>

	<table>
		<div>
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Location</th>
					<th>Date and Duration</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="job in jobFullList">
					<td>{{job.title}}</td>
					<td>{{job.description}}</td>
					<td>{{job.location}}</td>
					<td>
						show only if it is duration rather than date
						Date: {{job.date}} for {{job.duration}} {{job.timeUnit}}
					</td>
					<td>
						<div ng-show="posting.price=='set'"> ${{job.lowerBound}}</div>
						<div ng-show="posting.price=='range'">From ${{job.lowerBound}} to ${{job.upperBound}}</div>
					</td>
					<!-- <button ng-click="acceptJob()">Accept</button> -->
				</tr>
			</tbody>
		</div>
	</table>
</div>