<!DOCTYPE html>
<head>
    <!--script for Bootstrap-->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
    <p style="text-align:center; padding-top: 25px; font-size: 50px; font-weight: 800;">ABOUT US</p>
    <p style="text-align:center; font-size: 15px;"><a href ="login.html">Back to Login</a></p>
    <br><br>
    <img src="https://41.media.tumblr.com/f7b0daa8c783a9faf881acc79e7e12d7/tumblr_nwt5c6rl7j1qczc4to1_1280.png" alt="jocomic" height="100%" width="100%"/>
</body>

