<!DOCTYPE html>
<head>
</head>

<body>
    <div id ="contain">
      <!-- First button for login-->
    <button id ="resetpassword" class="btn btn-primary" ng-model="resetPW" ng-click="resetPW =! resetPW" >Login</button>
    <!-- pop up form div starts here-->    
    <div id="container" ng-show="resetPW" >
        <div class="col-sm-8 col-sm-offset-2">
            <div id="page-header"><h>Reset Password Page</h3></div>
                <form name="resetForm" novalidate >
    <!-- form fields -->
                    <fieldset>
                        <p>
                        <label> New Password</label>
                        <br>
                        <input id="newPassword" type="password" style="height:30px; width:450px" ng-model="newPassword" ng-change="changeInput()" required/>
                        </p>
                        <p>
                        <label>Repeat Password</label>
                        <br>
                        <input id="repeatPassword" type="password" style="height:30px; width:450px" ng-change="changeInput()" ng-model="password" required/>
                        </p>
                        <button id="resetClick" type="submit" class="btn btn-success" ng-click="reset(password)">Save</button>
                    </fieldset>
                </form>
       <div ng-show="loginFail" style="color: red">{{loginFailMsg}}</div>
        </div>
        </div><!-- end of login div-->
        
    </div>
    
</body>
