
  <div class="container">

    <div class="col-sm-8 col-sm-offset-2">
      <div class="page-header"><h3>Login Page</h3></div>
      <form name="loginForm" novalidate >
      <fieldset>
        <p>
          <label> Username </label>
        <br>
          <input id="loginname" type="text" style="height:30px; width:450px" ng-model="username" ng-change="changeInput()" required/>
        </p>
        <p>
          <label>Password</label>
        <br>
          <input id="loginpassword" type="password" style="height:30px; width:450px" ng-change="changeInput()" ng-model="password" required/>
        </p>
      <button id="loginClick" type="submit" class="btn btn-primary" ng-click="login(username, password)">Login</button>
      </fieldset>
   </form>
       <div ng-show="loginFail" style="color: red">{{loginFailMsg}}</div>
    

    
    
    
    </div>
   <button ng-model="newUser" ng-click="newUser = !newUser">New User Registration</button>

   <div class="container" ng-show="newUser">
    <div class="col-sm-8 col-sm-offset-2">	
      <div ><h3>New User Registration</h3></div>
      <form name="registrationForm" novalidate>
        <p>
          <label> Username </label>
        <br>
          <input type="text" style="height:30px; width:450px" ng-model="newUsername" ng-change="changeRegInput()" required/>
        </p>
        <p>
          <label>Password</label>
        <br>
          <input type="password" style="height:30px; width:450px" ng-model="newPassword" ng-change="changeRegInput()" required/>
        </p>
        <p>
          <label>Repeat Password</label>
        <br>
          <input type="password" style="height:30px; width:450px" ng-model="repeatPassword" ng-change="changeRegInput()" required/>
        </p>
        <p>
          <label> Display Name </label>
        <br>
          <input type="text" style="height:30px; width:450px" ng-model="displayName" ng-change="changeRegInput()" required/>
        </p>
        <p>
          <label>Contact Email</label>
        <br>
          <input type="email" style="height:30px; width:450px" ng-model="contactEmail" ng-change="changeRegInput()" required/>
        </p>
      <button type="submit" id="loggingIn" class="btn btn-primary" ng-click="registerNewUser(newUsername, newPassword, repeatPassword, displayName, contactEmail)">Register</button>
      </form>
       <div ng-show="registrationFail" style="color: red">{{regitrationFailMsg}}</div>
    
    </div>
    </div>
</div>

