
<div id="section" role="navigation">
	<h3>Welcome</h3>
	<h4>{{user.name}}</h4>
	
	<br><br>
	<ul class="nav nav-sidebar">
	<li>
			<button id="searchDListBtn" style="width: 160px" class="btn btn-primary btn-sm">
				<font size="2">Click me</font>
			</button>
		</li>
	</ul>
	<br>
	<ul class="nav nav-sidebar">
		<li>
			<button id="myDListBtn" style="width: 160px" class="btn btn-primary btn-sm" >
				<font size="2">Click me 2</font>
			</button>
		</li>     


	</ul>
	<br>
	<ul class="nav nav-sidebar">
		<li>
			<button id="myDListBtn" style="width: 160px" class="btn btn-primary btn-sm" >
				<font size="2">Click me 3</font>
			</button>
		</li>     


	</ul>
	<br><br>
	<ul class="nav nav-sidebar">
		<button >Logout</button>
	</ul>
</div>