
<div id="section" role="navigation">
	<h3>Welcome</h3>
	<h4>{{user.name}}</h4>
	
	<br><br>
	<ul class="nav nav-sidebar">
	<li>
			<button id="searchDListBtn" style="width: 160px" class="btn btn-primary btn-sm">
				<font size="2">Post New Job</font>
			</button>
		</li>
		<br>
		<li>
			<button id="myDListBtn" style="width: 160px" class="btn btn-primary btn-sm" >
				<font size="2">Search for Job</font>
			</button>
		</li> 
	</ul>
	<br>
	
	<br>
	<ul class="nav nav-sidebar">
		<li>
			<button id="myDListBtn" style="width: 160px" class="btn btn-primary btn-sm" >
				<font size="2">My Profiles</font>
			</button>
		</li>   
		<br>  
		<li>
			<button id="myDListBtn" style="width: 160px" class="btn btn-primary btn-sm" >
				<font size="2">Account Settings</font>
			</button>
		</li> 

	</ul>
	<br><br>
	
</div>