<div ng-controller="myProfilesCtrl">


<h4>My User Profile</h4>
<p>username: {{user.username}}</p>
<p>profileTitle {{user.profileTitle}}</p>
<p>description: {{user.description}}</p>
<p>displayName: {{user.displayName}}</p>
<p>location: {{user.location}}</p>
<p>contactEmail: {{user.contactEmail}}</p>

<br><br>
<h4>My Provider profiles</h4>

<table>
<tr>
	<th> Profile Title </th>
	<th> Location </th>
	<th> Description </th>
	<th> stuff we can do to the profile </th>
</tr>

<tr ng-repeat="providerProfile in myProviderProfiles">
	<td>{{providerProfile.profileTitle}}</td>
	<td>{{providerProfile.location}}</td>
	<td>{{providerProfile.description}}</td>
	<td><button ng-click="displayUserInfo(providerProfile)">displayUserInfo()</button>
</tr>
</table>

</div>

