<head>
	<link rel="stylesheet" type="text/css" href="css/profile.css" />
</head>

<div ng-controller="myProfilesCtrl" class="col-sm-12">

	<div style ="padding-left: 150px;">
		<h4><b>My User Profile</b></h4>
		<div class="col-sm-12">
	<!--<p>User Name: {{user.username}}</p>
	<p>Description: {{user.description}}</p>
	<p>Display Name: {{user.displayName}}</p>
	<p>Location: {{user.location}}</p>
	<p>Contact Email: {{user.contactEmail}}</p>-->
	<!-- <p>Username: {{mainUserProfileInformation.username}}</p> -->
	<p>Profile Title: {{mainUserProfileInformation.profileTitle}}</p>
	<p>Description: {{mainUserProfileInformation.description}}</p>
	<p>Displayname: {{mainUserProfileInformation.displayName}}</p>
	<!-- <p>Location: {{mainUserProfileInformation.location}}</p>
	<p>Contact Email: {{mainUserProfileInformation.contactEmail}}</p> -->
	<p>Employer Rating: {{mainUserProfileInformation.employer_rating}}</p>
	<p>Employee Rating: {{mainUserProfileInformation.employee_rating}}</p>
	<button class="btn btn-primary"  ng-click="editMainProfile()">Edit Profile</button>
	<div ng-show="showEditMainProfile">
		<table>
			<div class ="row">
			<!-- <tr class="col-md-4">
				<td>
					<th>Username</th>
				</td>
				<td>
					<input class="tbl-inpt" type="text" ng-model="mainProfile.userName" value="mainProfile.userName">
				</td>
			</tr> -->
			<tr class="col-md-4">
				<td>
					<th>Profile Title</th>
				</td>
				<td>
					<input class="tbl-inpt" type="text" ng-model="mainProfile.profileTitle" ng-init="mainProfile.profileTitle = user.profileTitle">
				</td>
			</tr>
		</div>
		<div class ="row">
			<tr class="col-md-4">
				<td>
					<th>Description</th>
				</td>
				<td>
					<input class="tbl-inpt" type="text" ng-model="mainProfile.description" ng-init="mainProfile.description = user.description">
				</td>
			</tr>
			<tr class="col-md-4">
				<td>
					<th>Display Name</th>
				</td>
				<td>
					<input class="tbl-inpt" type="text" ng-model="mainProfile.displayName" ng-init="mainProfile.displayName = user.displayName">
				</td>
			</tr>
		</div>
        <!-- <div class ="row">
			<tr class="col-md-4">
				<td>
					<th>Location</th>
				</td>
				<td>
					<input class="tbl-inpt" type="text" ng-model="mainProfile.location" ng-init="mainProfile.userName = user.location">
				</td>
			</tr>
			<tr class="col-md-4">
				<td>
					<th>Contact Email</th>
				</td>
				<td>
					<input class="tbl-inpt" type="email" ng-model="mainProfile.contactEmail" ng-init="mainProfile.userName = user.contactEmail">
				</td>
			</tr>
		</div> -->
	</table>
	<button  class="btn btn-primary"  ng-click="confirmEditMainProfile(mainProfile)">Confirm</button>
	<button class="btn btn-primary" ng-click="cancelEditMainProfile()">Cancel</button>
</div>
<br><br><br>
</div>

<br><br><br>


<h4><b>My Provider profiles</b></h4>
<div class="col-sm-12">
	<table>
		<tr ng-repeat="providerProfile in myProviderProfiles" >
			<td class="col-sm-12"><a href="#" ng-click="showProviderProfileDetails = ! showProviderProfileDetails">{{providerProfile.profileTitle}}</a>
				<div ng-show="showProviderProfileDetails"  class="col-sm-offset-1">
					<table style="border-collapse: separate; boarder-spacing: 5px;">
						<tr>
							<th valign="top" class="col-sm-4">Location: </th>
							<td class="col-sm-4">{{providerProfile.location}}</td>
						</tr>
						<tr>
							<th valign="top" class="col-sm-4">Description: </th>
							<td class="col-sm-4">{{providerProfile.description}}</td>
						</tr>
						<tr>
							<td></td>
							<td style="padding-top:10px;"> <button class="btn btn-primary" ng-click="editProviderProfile(this)">Edit</button>
							</td>
						</tr>
					</table>
				</div>
				<div ng-show="showEditProviderProfile"  class="col-sm-offset-1">
					<table>
						<tr>
							<th>Profile Title</th>
							<td>
								<input class="tbl-inpt" type="text" ng-model="editProfile.title" ng-init="editProfile.title = providerProfile.profileTitle">
							</td>
						</tr>
						<tr>
							<th>Location</th>
							<td>
								<input class="tbl-inpt" type="text" ng-model="editProfile.location" ng-init="editProfile.location = providerProfile.location">
							</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>
								<input class="tbl-inpt" type="text" ng-model="editProfile.description" ng-init="editProfile.description = providerProfile.description">
							</td>
						</tr>
						<tr>
							<td>
								<p><button class="btn btn-primary"  ng-click="confirmEditProfile(editProfile, providerProfile.id, this, providerProfile)">Confirm</button></p>
							</td>
							<td>
								<p><button class="btn btn-primary" ng-click="cancelEditProfile(this)">Cancel</button></p>
							</td>
							<td>
								<p><button class="btn btn-primary" ng-click="deleteProviderProfile(providerProfile)">delete</button></p>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<button class="col-sm-4 btn btn-primary"  ng-click="createProviderProfile()">New Provider Profile</button>
</div>
</div>
</div>
