<head>
    <link rel="stylesheet" type="text/css" href="css/profile.css" />
</head>

<div ng-controller="providerProfileCtrl">
    <div style ="padding-left: 150px;">
	<div ng-show="showEditProviderProfile">
		<table>
			<tr>
				<th>Profile Title</th>
				<td>
					<input class="tbl-inpt" type="text" ng-model="newProvider.Title"/>
				</td>
				<td>
					<div ng-show="newProviderTitleError" style="color: red">
						{{newProviderTitleErrorMsg}}
					</div>
				</td>
			</tr>
			<tr>
				<th>Location</th>
				<td>
					<input class="tbl-inpt" type="text" ng-model="newProvider.Location"/>
				</td>
				<td>
					<div ng-show="newProviderLocationError" style="color: red">
						{{newProviderLocationErrorMsg}}
					</div>
				</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>
					<input class="tbl-inpt" type="text" ng-model="newProvider.Description"/>
				</td>
				<td>
					<div ng-show="newProviderDescriptionError" style="color: red">
						{{newProviderDescriptionErrorMsg}}
					</div>
				</td>
			</tr>
		</table>
		<button class="btn btn-primary" ng-click="previewNewProviderProfile()">Preview</button>
		<button class="btn btn-primary" ng-click="resetPreviewNewProviderProfile()">Reset</button>
	</div>
	<div ng-show="showPreviewNewProviderProfile">
		<table>
			<tr>
				<th>Profile Title:&nbsp</th>
				<td>{{newProvider.Title}}</td>
			</tr>
			<tr>
				<th>Location:&nbsp</th>
				<td>{{newProvider.Location}}</td>
			</tr>
			<tr>
				<th>Description:&nbsp</th>
				<td>{{newProvider.Description}}</td>
			</tr>
		</table>
		<button class="btn btn-primary" ng-click="editNewProviderProfile()">Edit</button>
	<br />	
	</div>
	<button class="btn btn-primary" ng-click="postNewProviderProfile()">Create Profile</button>
	<button class="btn btn-primary" ng-click="myProfiles()">Cancel</button>
    </div>
</div>