<div style ="padding-left: 150px;">
   <div>
  		<table>
  			<tr>
  				<th>Provider Name</th>
  				<td>{{applicant.applicantInfo.displayName}}</td>
  			</tr>
  			<tr>
  				<th>Provider Rating</th>
  				<td>{{applicant.applicantInfo.employee_rating}}</td>
            <tr>
                <th>Provider Description</th>
                <td>{{applicant.profileInfo.description}}</td>
            </tr>
            <tr>
                <th>Provider Location</th>
                <td>{{applicant.profileInfo.location}}</td>
            </tr>
            <tr>
                <th>Bidding Price</th>
                <td>${{applicant.price}}</td>
            </tr>
        </table>
	<!-- <button ng-click="chooseApplicant(applicant)">Choose</button>	 -->
</div>
</div>

    
