<!DOCTYPE html>

<!--header for all pages after logging in-->
<html>

    <head>
      <!--script for Bootstrap-->
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/loggedInHeader.css" />
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    
    </head>

    <!--beginning of body-->
    <body>
        <nav class="header black-bg" role="navigation" style="height: 60px;">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="#" class="logo"><b>LIFELIFTERS</b></a>
            <!--logo end-->
                <div class ="container" style="">
                <button ng-click="logout()" class="btn btn-success btn-sm" style="margin-top: 12px;float:right;">Logout</button>
                <!-- /.navbar-collapse -->
                </div>
            <!-- /.container -->
        </nav>
    </body>
</html>
