<head>
<link rel="stylesheet" type="text/css" href="css/sidebar.css" />
</head>
<div id="section"  role="navigation">
    <br>
    <center><h5>Welcome</h5>
	<h5>{{user.displayName}}</h5></center>
	
	<br>
	<button class="btn btn-info btn-sm" ng-click="dashboard()" style="width: 160px; margin-left:5px;">Dashboard</button>
        <br><br><br>
        
	<ul class="nav nav-sidebar" style="margin-left:5px;">
        <li>
            <button id="searchDListBtn" style="width: 160px;" class="btn btn-primary btn-sm" ng-click="postNewJob()">
                    <font size="2">Post New Job</font>
                </button>
            </li>
        <br>
         <li>
            <button id="myDListBtn" style="width: 160px;" class="btn btn-primary btn-sm"  ng-click="searchForJob()">
                    <font size="2">Search for Job</font>
             </button>
        </li> 
        <br>
        <br>
            <li>
                <button id="myDListBtn" style="width: 160px;" class="btn btn-primary btn-sm" ng-click="myProfiles()" >
                    <font size="2">My Profiles</font>
                </button>
            </li>
        <br>
            <li>
                <button id="myDListBtn" style="width: 160px;" class="btn btn-primary btn-sm" ng-click="accountSettings()" >
                    <font size="2">Account Settings</font>
                </button>
            </li> 

	</ul>   
</div>
