<div ng-controller="updatesCtrl">



<label style="font-weight: bold; font-size: 1.5em">My Commitments as an Employee</label>
<p> Contract 1 </p>
<p> Contract 2 </p>

<br>

<label style="font-weight: bold; font-size: 1.5em">My Commitments as an Employer</label>
<p> Contract 1 </p>
<p> Contract 2 </p>

<br>
<label style="font-weight: bold; font-size: 1.5em">My Active Postings</label>&nbsp&nbsp<a href="#" ng-click="myPostedJobs()" style="color:blue;"> See all postings </a>

<table>
    <tr ng-repeat="posting in myPostings">

        <td><a href="#" ng-click="showPostingDetails = ! showPostingDetails">{{posting.title}}  {{posting.date}}</a>
            <div class="col-sm-offset-1" ng-show="showPostingDetails">
		  		<table>
                    <tr>
                        <th>Job Description</th>
                        <td>{{posting.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Category</th>
                        <td>{{posting.category}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{posting.location}}</td>
                    </tr>
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{posting.date}} for {{posting.duration}} {{posting.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                            <div ng-show="posting.price=='set'"> ${{posting.lowerBound}}</div>
                            <div ng-show="posting.price=='range'">From ${{posting.lowerBound}} to ${{posting.upperBound}}</div>
                        </td>
                    </tr>

                </table>
                	<p><button ng-click="jobDetails(posting)"> View Details </button></p>
		  	<!--	<p><button ng-click="editPostingDetails(posting)"> Edit </button>&nbsp<button ng-click="deletePosting(posting)">Delete</button></p>   -->	
		  		</div>
		  	</td>
</table>
<br>
<label style="font-weight: bold; font-size: 1.5em">My Submitted Applications</label>
<p> Job applied 1</p>
<p> Job applied 2</p>

<br>
<label style="font-weight: bold; font-size: 1.5em">My Job Offers</label>
<p>Proposed job 1</p>
<p>Proposed job 2</p>



</div>

