<div ng-controller="updatesCtrl">
<div style ="padding-left: 150px;">


<label style="font-weight: bold; font-size: 1.5em">My Commitments as an Employee</label>&nbsp&nbsp<a href="#" ng-click="myContracts()" style="color:blue;"> See all contracts </a>
<table>
    <tr ng-repeat="employeeContract in employeeContracts">
        <td>
            <a href="#" ng-click="showEmployeeContractDetails = ! showEmployeeContractDetails">{{employeeContract.contractInfo.postingInfo.title}}  ${{employeeContract.contractInfo.applicationInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showEmployeeContractDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{employeeContract.contractInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{employeeContract.contractInfo.postingInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{employeeContract.contractInfo.postingInfo.location}}</td>
                    </tr>
                    
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{employeeContract.contractInfo.postingInfo.date}} for {{employeeContract.contractInfo.postingInfo.duration}} {{employeeContract.contractInfo.postingInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>${{employeeContract.contractInfo.applicationInfo.price}}
                        </td>
                    </tr>
                </table>
  <!--             <p><button ng-click="acceptJobOffer(offer.jobsAppliedInfo.appInfo)">Accept</button>&nbsp&nbsp<button ng-click="declineJobOffer(offer.jobsAppliedInfo.appInfo)">Decline</button></p>
   -->  
            </div>
        </td>
    </tr>
</table>


<br>

<label style="font-weight: bold; font-size: 1.5em">My Commitments as an Employer</label>&nbsp&nbsp<a href="#" ng-click="myContracts()" style="color:blue;"> See all contracts </a>
<table>
    <tr ng-repeat="employerContract in employerContracts">
        <td>
            <a href="#" ng-click="showEmployerContractDetails = ! showEmployerContractDetails">{{employerContract.contractInfo.postingInfo.title}}  ${{employerContract.contractInfo.applicationInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showEmployerContractDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{employerContract.contractInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{employerContract.contractInfo.postingInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{employerContract.contractInfo.postingInfo.location}}</td>
                    </tr>
                    
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{employerContract.contractInfo.postingInfo.date}} for {{employerContract.contractInfo.postingInfo.duration}} {{employerContract.contractInfo.postingInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>${{employerContract.contractInfo.applicationInfo.price}}
                        </td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>



<br>
<label style="font-weight: bold; font-size: 1.5em">My Active Postings</label>&nbsp&nbsp<a href="#" ng-click="myPostedJobs()" style="color:blue;"> See all postings </a>

<table>
    <tr ng-repeat="posting in myPostings" ng-show="posting.status=='Active'">

        <td><a href="#" ng-click="showPostingDetails = ! showPostingDetails">{{posting.title}}  {{posting.date}}</a>
            <div class="col-sm-offset-1" ng-show="showPostingDetails">
		  		<table>
                    <tr>
                        <th>Job Description</th>
                        <td>{{posting.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Category</th>
                        <td>{{posting.category}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{posting.location}}</td>
                    </tr>
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{posting.date}} for {{posting.duration}} {{posting.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                            <div ng-show="posting.price=='set'"> ${{posting.lowerBound}}</div>
                            <div ng-show="posting.price=='range'">From ${{posting.lowerBound}} to ${{posting.upperBound}}</div>
                        </td>
                    </tr>

                </table>
                	<p><button ng-click="jobDetails(posting)"> View Details </button></p>
		  	<!--	<p><button ng-click="editPostingDetails(posting)"> Edit </button>&nbsp<button ng-click="deletePosting(posting)">Delete</button></p>   -->	
		  		</div>
		  	</td>
</table>
<br>

<br>
<label style="font-weight: bold; font-size: 1.5em">My Job Offers</label>
<table>
    <tr ng-repeat="offer in appliedTo" ng-show="offer.jobsAppliedInfo.appInfo.status=='Chosen'">
        <td>
            <a href="#" ng-click="showOfferDetails = ! showOfferDetails">{{offer.jobsAppliedInfo.title}}  ${{offer.jobsAppliedInfo.appInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showOfferDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{offer.jobsAppliedInfo.appInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{offer.jobsAppliedInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{offer.jobsAppliedInfo.location}}</td>
                    </tr>
                    
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{offer.jobsAppliedInfo.date}} for {{offer.jobsAppliedInfo.duration}} {{offer.jobsAppliedInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                             ${{offer.jobsAppliedInfo.appInfo.price}}
                        </td>
                    </tr>
                </table>
                <p><button ng-click="acceptJobOffer(offer.jobsAppliedInfo.appInfo)">Accept</button>&nbsp&nbsp<button ng-click="declineJobOffer(offer.jobsAppliedInfo.appInfo)">Decline</button></p>
            </div>
        </td>
    </tr>
</table>
<br>

<label style="font-weight: bold; font-size: 1.5em">My Submitted Applications</label>&nbsp&nbsp <!--<a href="#" ng-click="myApplications()" style="color:blue;"> See all applications </a>-->
<table>
    <tr ng-repeat="applied in appliedTo" ng-show="applied.jobsAppliedInfo.appInfo.status=='Submitted'">
        <td>
            <a href="#" ng-click="showApplicationDetails = ! showApplicationDetails">{{applied.jobsAppliedInfo.title}}  ${{applied.jobsAppliedInfo.appInfo.price}}</a>
            <div class="col-sm-offset-1" ng-show="showApplicationDetails">
                <table>
                    <tr>
                        <th>Application Status</th>
                        <td>{{applied.jobsAppliedInfo.appInfo.status}}</td>
                    </tr>
                    <tr>
                        <th>Job Description</th>
                        <td>{{applied.jobsAppliedInfo.description}}</td>
                    </tr>
                    <tr>
                        <th>Job Location</th>
                        <td>{{applied.jobsAppliedInfo.location}}</td>
                    </tr>
                    <tr>
                        <th>Time and Duration</th>
                        <td>
                            Date: {{applied.jobsAppliedInfo.date}} for {{applied.jobsAppliedInfo.duration}} {{applied.jobsAppliedInfo.timeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <th>Compensation</th>
                        <td>
                           ${{applied.jobsAppliedInfo.appInfo.price}}
          <!--                   <div ng-show="applied.jobsAppliedInfo.price=='set'"> ${{applied.jobsAppliedInfo.lowerBound}}</div>
                            <div ng-show="applied.jobsAppliedInfo.price=='range'">From ${{applied.jobsAppliedInfo.lowerBound}} to ${{applied.jobsAppliedInfo.upperBound}}</div>
           -->              </td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>
    </div>

</div>

